examples/node-red/tibber-test-flow.json
[
  {
    "id": "15652aa.fd5c4d5",
    "type": "tab",
    "label": "Tibber Test Flow",
    "disabled": false,
    "info": ""
  },
  {
    "id": "3a621e1.6c980e2",
    "type": "inject",
    "z": "15652aa.fd5c4d5",
    "name": "",
    "topic": "",
    "payload": "{viewer{homes{id size appNickname appAvatar address{address1 address2 address3 postalCode city country latitude longitude}}}}",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 80,
    "wires": [["4d90c0d9.a283f"]]
  },
  {
    "id": "d98c9051.ec2cb",
    "type": "debug",
    "z": "15652aa.fd5c4d5",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 570,
    "y": 80,
    "wires": []
  },
  {
    "id": "1f5b698b.c40ec6",
    "type": "tibber-feed",
    "z": "15652aa.fd5c4d5",
    "name": "",
    "active": true,
    "apiEndpointRef": "fe217e47.760b6",
    "homeId": "c70dcbe5-4485-4821-933d-a8a86452737b",
    "timestamp": "1",
    "power": "1",
    "lastMeterConsumption": "1",
    "accumulatedConsumption": "1",
    "accumulatedProduction": "1",
    "accumulatedCost": "1",
    "accumulatedReward": "1",
    "currency": "1",
    "minPower": "1",
    "averagePower": "1",
    "maxPower": "1",
    "powerProduction": "1",
    "minPowerProduction": "1",
    "maxPowerProduction": "1",
    "lastMeterProduction": "1",
    "powerFactor": "1",
    "voltagePhase1": "1",
    "voltagePhase2": "1",
    "voltagePhase3": "1",
    "currentPhase1": "1",
    "currentPhase2": "1",
    "currentPhase3": "1",
    "x": 120,
    "y": 180,
    "wires": [["3eb3b3f1.899ecc"]]
  },
  {
    "id": "3eb3b3f1.899ecc",
    "type": "debug",
    "z": "15652aa.fd5c4d5",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 350,
    "y": 180,
    "wires": []
  },
  {
    "id": "4d90c0d9.a283f",
    "type": "tibber-query",
    "z": "15652aa.fd5c4d5",
    "name": "",
    "active": true,
    "apiEndpointRef": "fe217e47.760b6",
    "x": 350,
    "y": 80,
    "wires": [["d98c9051.ec2cb"]]
  },
  {
    "id": "fb875b11.4c9c18",
    "type": "tibber-notify",
    "z": "15652aa.fd5c4d5",
    "name": "",
    "active": true,
    "apiEndpointRef": "fe217e47.760b6",
    "notifyTitle": "",
    "notifyMessage": "",
    "notifyScreen": "",
    "x": 330,
    "y": 300,
    "wires": []
  },
  {
    "id": "1f3d8f53.3561c1",
    "type": "inject",
    "z": "15652aa.fd5c4d5",
    "name": "",
    "topic": "",
    "payload": "{\"title\":\"Test\",\"message\":\"This is a simple test\",\"screen\":\"HOME\"}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 120,
    "y": 300,
    "wires": [["fb875b11.4c9c18"]]
  },
  {
    "id": "fe217e47.760b6",
    "type": "tibber-api-endpoint",
    "z": "",
    "feedUrl": "wss://api.tibber.com/v1-beta/gql/subscriptions",
    "queryUrl": "https://api.tibber.com/v1-beta/gql",
    "apiKey": "d1007ead2dc84a2b82f0de19451c5fb22112f7ae11d19bf2bedb224a003ff74a",
    "name": "Demo"
  }
]
